<!-- SIDEBAR -->
<section id="sidebar">
    <a class="brand ms-3"><img src="../../../assets/images/Vector.svg" alt="Vector" class="me-2"> DashboardX</a>
    <ul class="side-menu">
        <li><a class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
        <li><a><i class='bx bx-message-rounded icon' ></i> Message</a></li>
        <li><a><i class='bx bx-check-square icon' ></i> Project</a></li>
        <li>
            <a><i class='bx bx-calendar-week icon' ></i> Schedule <i class='bx bx-chevron-right icon-right' ></i></a>
            <ul class="side-dropdown">
                <li><a>In progress</a></li>
                <li><a>Pending</a></li>
                <li><a>Completed</a></li>
            </ul>
        </li>
        <li><a><i class='bx bx-table icon' ></i> Activity</a></li>
    </ul>
    <div class="ads">
        <h5 class="team-text">TEAMS</h5>
        <div class="wrapper">
            <!-- User Info -->
            <div class="user-info mb-3">
                <img src="../../../assets/images/Avatar.png" alt="User Icon" class="user-icon">
                <span class="username-team ps-2">Seth Daniels</span>
            </div>
            <a class="btn-upgrade"><i class='bx bx-plus pe-2'></i> Add new team</a>
        </div>
    </div>
</section>
<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu toggle-sidebar' ></i>
        <h4 class="user-name">👋 Hi Nicolas!</h4>
        <form action="#">
            <div class="form-group">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search icon' ></i>
            </div>
        </form>
        <a class="nav-link">
            <i class='bx bx-bell icon' ></i>
            <span class="badge">5</span>
        </a>
        <a class="nav-link">
            <i class='bx bx-cart icon' ></i>
            <span class="badge">2</span>
        </a>
        <!-- <span class="divider"></span> -->
        <div class="profile">
            <img src="../../../assets/images/48px.png" alt="">
            <ul class="profile-link">
                <li><a><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
                <li><a><i class='bx bxs-cog' ></i> Settings</a></li>
                <li><a type="button" (click)="logOut()"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <router-outlet></router-outlet>
    </main>
    <!-- MAIN -->
</section>
<!-- NAVBAR -->