<!-- char-area -->
<section class="message-area">
    <div class="row">
        <div class="col-12">
            <div class="chat-area">
                <!-- chatlist -->
                <div class="chatlist">
                    <div class="modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-body">
                                <!-- Direct message header -->
                                <div class="d-flex justify-content-between pb-3">
                                    <h5 class="label-message">Direct Messages</h5>
                                    <a type="button">
                                    <i class="fa-solid fa-plus pe-4"></i>
                                    </a>
                                </div>
                    
                                <!-- Chat List -->
                                <div class="chat-lists mb-5">
                                    <div class="chat-list">
                                        <!-- Dynamic chat items -->
                                        <a 
                                            type="button"
                                            *ngFor="let chat of chatList"
                                            (click)="selectChat(chat)"
                                            [class.bg-hover-active]="selectedChat?.id === chat.id"
                                            class="d-flex align-items-center px-2 hover-active"
                                        >
                                            <div class="flex-shrink-0">
                                            <img class="img-fluid" style="max-width: 48px;" [src]="chat.image" alt="user img" />
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                            <h3>{{ chat.name }}</h3>
                                            </div>
                                            <!-- Display status only if it's not 'Active' -->
                                            <span class="status-active" *ngIf="chat.status !== 'Active'">{{ chat.status }}</span>
                                            <span class="active" *ngIf="chat.status == 'Active'"></span>
                                        </a>
                                    </div>
                                </div>
                        
                                <!-- Group message header -->
                                <div class="d-flex justify-content-between pb-3">
                                    <h5 class="label-message">Groups</h5>
                                    <a type="button">
                                    <i class="fa-solid fa-plus pe-4"></i>
                                    </a>
                                </div>
                                <!-- Group List -->
                                <div class="chat-list">
                                    <!-- Dynamic group items -->
                                    <a
                                    type="button"
                                    *ngFor="let group of groupList"
                                    (click)="selectGroup(group)"
                                    [class.bg-hover-active]="selectedGroup?.id === group.id"
                                    class="d-flex align-items-center py-1 hover-active"
                                    >
                                    <div class="flex-grow-1 ms-3">
                                        <h3>{{ group.name }}</h3>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chatlist -->
  

                <!-- chatbox -->
                <div class="chatbox">
                    <div class="modal-dialog-scrollable">
                        <div class="modal-content" *ngIf="selectedChat || selectedGroup">
                            <div class="msg-head">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="chat-icon"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg" alt="image title"></span> -->
                                            <div class="flex-shrink-0" *ngIf="selectedChat?.image">
                                                <img class="img-fluid" src="{{selectedChat?.image}}" alt="user img">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h3 style="size: 16px;">{{selectedChat?.name || selectedGroup?.name}}</h3>
                                                <p>{{selectedChat?.status || selectedGroup?.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <ul class="moreoption">
                                            <li class="navbar nav-item me-2"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-phone bx-sm mt-1'></i></a></li>

                                            <li class="navbar nav-item me-2"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-video bx-sm mt-1'></i></a></li>

                                            <li class="navbar nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v fa-lg"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item">Action</a></li>
                                                    <li><a class="dropdown-item">Another action</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item">Something else here</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-body pe-4" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                <div class="msg-body">
                                    <ul>
                                        <li>
                                            <div class="text-center">
                                                <h6>Today</h6>
                                            </div>
                                        </li>
                                        <!-- Loop through selected chat's messages -->
                                        <li *ngFor="let message of selectedChat?.messages ?? selectedGroup?.messages" [ngClass]="{ 'sender': message.sender === 'other', 'repaly': message.sender === 'self' }">
                                            <p>{{ message.content }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="send-box">
                                <!-- Attachment Icon (Last Suffix) -->
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-icon matPrefix *ngIf="!selectedChat?.image">account_circle</mat-icon>
                                    <img *ngIf="selectedChat?.image" matPrefix class="img-fluid ps-2" style="width: 42px;" src="{{selectedChat?.image}}">
                                    <input matInput type="text" placeholder="Write a message and hit enter..." name="message" [(ngModel)]="newMessage" (keydown.enter)="sendMessage(newMessage)">
                                    <mat-icon matSuffix type="button">sentiment_very_satisfied</mat-icon>
                                    <mat-icon matSuffix type="button"  (click)="fileInput.click()">attach_file</mat-icon>
                                    <!-- Hidden File Input -->
                                    <input #fileInput type="file" style="display: none;">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="modal-content" *ngIf="!selectedChat || !selectedGroup">
                            <h5 class="m-auto">Please select a chat to begin.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- chatbox -->
        </div>
    </div>
</section>
<!-- char-area -->