/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: 'DM Sans', sans-serif !important;
}

.container-fluid {
    width: 95%;
}

a {
    text-decoration: none; /* Removes underline from all links */
}
